@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Questa pagina descrive la nostra politica sulla privacy e sul trattamento dei dati personali.</p>

<h2>Informazioni raccolte</h2>
<p>Raccogliamo le seguenti informazioni personali quando ti registri sul nostro sito:</p>
<ul>
    <li>Nome e cognome</li>
    <li>Indirizzo email</li>
    <li>Preferenze relative a fumetti e manga</li>
</ul>

<h2>Come utilizziamo le tue informazioni</h2>
<p>Utilizziamo le informazioni raccolte per:</p>
<ul>
    <li>Personalizzare la tua esperienza di utilizzo</li>
    <li>Migliorare il nostro sito web</li>
    <li>Consentire l'accesso alle funzionalità del sito</li>
</ul>

<h2>Cookie</h2>
<p>Utilizziamo cookie per memorizzare le informazioni sulle preferenze dei visitatori e le pagine che hai visitato.</p>

<h2>Sicurezza</h2>
<p>Ci impegniamo a garantire che le tue informazioni siano sicure. Per prevenire accessi o divulgazioni non autorizzati, abbiamo messo in atto procedure fisiche, elettroniche e gestionali adeguate per salvaguardare e proteggere le informazioni che raccogliamo online.</p>

<h2>Contattaci</h2>
<p>Se hai domande su questa politica sulla privacy, puoi contattarci all'indirizzo email: privacy@comicollector.com</p>