@page
@model IndexModel
@inject Microsoft.AspNetCore.Identity.UserManager<ComicCollector.Models.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Comic Collector</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Ciao @user?.FirstName @user?.LastName, bentornato nella tua piattaforma preferita per collezionare fumetti!</p>
    }
    else
    {
        <p>La tua piattaforma per collezionare e organizzare i tuoi fumetti preferiti.</p>
    }
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>La tua collezione</h5>
            </div>
            <div class="card-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Accedi alla tua collezione personale e gestisci i tuoi fumetti.</p>
                    <a href="#" class="btn btn-primary">Vai alla collezione</a>
                }
                else
                {
                    <p>Accedi o registrati per iniziare a creare la tua collezione di fumetti.</p>
                    <a asp-page="/Account/Login" class="btn btn-primary">Accedi</a>
                    <a asp-page="/Account/Register" class="btn btn-outline-primary ms-2">Registrati</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Funzionalità principali</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cataloga i tuoi fumetti</li>
                    <li class="list-group-item">Tieni traccia delle tue serie preferite</li>
                    <li class="list-group-item">Scopri nuovi titoli</li>
                    <li class="list-group-item">Organizza la tua collezione</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Pannello Amministratore</h5>
                </div>
                <div class="card-body">
                    <p>In quanto amministratore, hai accesso a funzionalità aggiuntive:</p>
                    <a asp-page="/Admin/UserManagement" class="btn btn-outline-primary">Gestione Utenti</a>
                </div>
            </div>
        </div>
    </div>
}